/* style slideÂ */

.swiper-container {
    width: 100%;
    height: 450px;
    background: #000;
    /*margin-top: 65px !important;*/

}
.swiper-slide .star{
    height: 20px;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #000;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-slide img.thumb-slide{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.swiper-slide .caption{

    position: absolute;
    text-align: left;
    font-size: 12px;
    color: #F8F8F8;
    padding: 30px;
    z-index: 10000;
    background: rgba(0,0,0,0.5);
    width: 30%;
    height: 100%;
    bottom: 0;
    left: 0;
    overflow: hidden;

}

.swiper-slide .caption p{
    margin-top: 20px;
}
.swiper-slide .caption p span{
    color: #FF660A;
    font-weight: bold;
    margin-right: 10px;
}
.swiper-slide:hover .caption{
    display: block;
}



@media (max-width: 768px) {
    .swiper-container {
        width: 100%;
        height:200px;
        background: #000;

    }
    .swiper-slide .caption{
        position: absolute;
        height: 60px;
        width: 100% !important;
        padding:10px;


    }
    .swiper-slide .caption .film-name{
        font-size: 15px;
        text-align: center;
        font-weight: bold;
        padding: 0;
        margin-top: 0px;
        color: #FF9E07;
        overflow: hidden;
        height: 100%;
        /*white-space: nowrap;*/
        /*text-overflow:ellipsis;*/
    }
    .swiper-slide .caption p{
        display: none;
    }
    .swiper-slide .star{
        display: none;
    }

}
@media only screen and (max-width: 1263px){

    .swiper-container {
        width: 100%;
        height:400px;
        background: #000;

    }
}
@media only screen and (max-width: 959px) {
    .swiper-container {
        width: 100%;
        height:450px;
        background: #000;

    }

}
@media only screen and (max-width: 899px) {
    .swiper-container {
        width: 100%;
        height:420px;
        background: #000;

    }

}
@media only screen and (max-width: 799px) {

    .swiper-container {
        width: 100%;
        height:400px;
        background: #000;

    }
    .swiper-slide .star{
        display: none;
    }


}
@media only screen and (max-width: 719px) {

    .swiper-container {
        width: 100%;
        height:350px;
        background: #000;

    }
    .swiper-slide .star{
        display: none;
    }
}
@media only screen and (max-width: 639px) {
    .swiper-container {
        width: 100%;
        height:300px;
        background: #000;

    }
    .swiper-slide .star{
        display: none;
    }

}
@media only screen and (max-width: 479px) {
    .swiper-container {
        width: 100%;
        height:200px;
        background: #000;

    }
    .swiper-slide .star{
        display: none;
    }

}